.ad {
  width: 50%;
  height: 50%;
}
.image_center {
  display: flex;
  justify-content: center;
}
.main_slides {
  color: black;
  background: url("../../../assets/img/snow-man.png");
  background-size: cover;
  margin-bottom: 10rem;
}
